
/* COLORI DI SFONDO */

.bg_nav_grey{
  background-color:#1a252f
}

.bg_aqua{
  background-color: #1ABC9C
}

.bg_white{
  background-color: #fff
}

.bg_blue{
  background-color:  #2C3E50
}

/* COLORI DEL TESTO */

h1, h4, span{
  color: #fff
}

/* FORMATTAZIONE */

.hero_box{
  height: 490px;
  padding: 150px 0
}

.img_box{
  margin-bottom: 50px;
}

h1{
  margin: 0 0
}

.card_box{
  min-height: 150px;
}

img{
  max-height: 100px
}

.content_box{
  padding: 10% 0;
  margin: auto;
  width:80%;
}
