
/* COLORI DI SFONDO */

.bg_nav_color{
  background-color:#1a252f
}

.bg_primary_color{
  background-color: #1ABC9C
}

.bg_secondary_color{
  background-color: #fff
}

.bg_third_color{
  background-color:  #2C3E50
}

/* COLORI DEL TESTO */

.text_white_color{
  color: #fff
}

.text_primary_color{
  color: #2c3e50
}

/* Bottoni */

.btn_primary{
  background-color: #1ABC9C;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border-radius: 6px;
}

.btn_empty{
  background: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid white;
}

.burger{
  font-size: 13px;
  font-weight: bold;
}

/* Mix */

.v_reset{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom:0;
}

.link_reset{
  text-decoration: none;
}

.padding_10{
  padding: 10px;
}

.padding_25{
  padding: 25px;
}

.h_padding15{
  padding: 0 15px;
}

.star{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;

}
.star::before, .star::after{
  display: inline-block;
  width:500px;
  height:3px;
  background-color: white;
  position: relative;
}

.download{
  font-size: 20px;
}

.custom_form{
  display: block;
  border: none;
  border-bottom: 1px solid lightgrey;
  color: #6C757D;
  font-size: 18px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* TYPO */

body{
  font-family: 'Montserrat', sans-serif;
}

nav h2, nav li{
  font-size: 18px;
  font-weight: bold;
  margin: 0 0;
}

h1{
 font-size: 40px;
 font-weight: bolder;
 letter-spacing: 5px;
}

h2{
  font-size: 25px;
  font-weight: bold;
}

p{font-size: 16px;
}

/* FORMATTAZIONE */

/* Sezioni generali*/

section.bg_nav_color{
  padding: 20px 0;
}

section{
  padding: 70px 0;
}

/* Nav */

nav{
  padding: 30px 0;
}

nav h2, nav li{
  line-height: 34px;
}

/* jumbotron */

.hero_box{
  text-align: center;
}

.hero_img_box{
  width:255px;
  margin: auto;
}

.hero_img_box > img{
  width:100%
}

/* portfolio */

.card_box{
  margin: 15px 0;
  padding: 10px 15px;
  margin: auto;
}

.card_box > img{
  width: 100%;
  border-radius: 4%;

}

/* about */

.small_container{
  margin: auto;
  width:80%;
  max-width: 800px;
}

/* contact */

.form_box, .button_box{
  width: 60%;
  margin: auto;
  padding: 30px 0;
}

footer .text_box{
  width: 40%;
  margin:auto;
}

footer .text_box:last-child{
  width: 75%;
}

/* MEDIA QUERY PER STILE CSS */

 /* SM in giù (0px-991px) */
@media screen and (max-width: 767px){

  .small_container{
    width:90%;
  }

  .card_box{
    width:70%;
    min-width: 200px;
  }
}
